{% extends "wx/table.html" %}
{% load static %}
{% load jsonify %}

{% block extra_head %}
<script type="text/javascript">
    search_args.comment_range=search_args.comment_range|| 'all'
    crt_view = search_args.crt_view || 'table'
    can_reply ={{ can_reply | jsonify }}

    extra_logic={
        data:{
            comment_range:search_args.comment_range,
            can_reply:can_reply,
            show_menu:false,
        },
        mounted:function(){
            var self=this
            bus.$on('menu_click',function(){
                self.show_menu=true
            })
        },
        methods:{
            update_search:function(args){
                search_args.comment_range=args
                search_args._page=1
                location=ex.appendSearch(engine_url+'/'+page_name,search_args)

            },
            get_edit_link:function(pk){
                return engine_url+'/comment.wx.edit?pk='+pk
            },
            txt_to_html:function(v){
                return v.replace(/\n/g,'<br/>');
            }
        }
    }

    main_logic.mixins=[table_fun,extra_logic]

</script>

<style type="text/css">
    .comment-row{
        /*background-color: white;*/
        padding: 10px;
        margin-bottom: 2em;
    }
    .comment-row .head{
        width: 3em;
        flex-shrink: 0;
    }
    .comment-row .name{
        color: #807d7d;
        /*font-size: 1.3em;*/
        padding-left: 0.7em;
    }
    .comment-row .bd{

    }
    .comment-row .rep .reply{
        border-left: 2px solid #06881a;
        padding-left:0.7em ;
    }
    .comment-row .rep{
        border-top: 1px solid #dddadf;
        padding-top: 0.7em;
    }
    .comment-row .rep .content{
        padding-left:0.7em ;
    }
    .comment-row .edit-btn{
        padding: 0em 0.3em;
        margin-right: 1em;
        font-size: 1.5em;
    }
    .comment-row .edit-btn:hover{
        background-color: #dce0f4;
        border-radius: 0.3em;
    }

    /*.comment-row pre{*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*}*/
</style>

{% endblock %}

{% block table_head %}
    <div class="flex">

        <div class="flex-grow" style="text-align: center;margin-top: 1em;">
            <div class="btn-group" role="group" aria-label="..." >
                <a type="button" :class="['btn btn-default',{'btn-info':comment_range=='only_self'}]"  href="javascript:;" @click="update_search('only_self')">只看自己</a>
                <a type="button" :class="['btn btn-default',{'btn-info':comment_range=='all'}]"  href="javascript:;" @click="update_search('all')" >全部</a>
            </div>
        </div>

    </div>

<transition name="fade">
    <modal id="pop-menu" v-show="show_menu" @click.native="show_menu=false">
        <div class="weui-actionsheet__menu" @click.stop="" style="width: 80vw;">
            <div class="weui-actionsheet__cell" @click="add_new();show_menu=false" v-if="can_add">新留言</div>
            <!--<div class="weui-actionsheet__cell" @click="del_item();show_menu=false" v-if="can_del &&selected.length>0">删除选中</div>-->
            <!--<div class="weui-actionsheet__cell" @click="crt_view='search';show_menu=false" v-if="can_search">排序过滤</div>-->
        </div>
        <div class="weui-actionsheet__cell">
            <div class="weui-actionsheet__cell" @click="show_menu=false">取消</div>
        </div>
    </modal>
</transition>
{% endblock%}


{% block item_view %}
<div class="flex-grow" style="position: relative;">
    <div class="scroll-wraper">
        <div v-for="row in rows" class="flex comment-row">
            <div class="head">
                <img :src="row.emp_info.head" alt="" style="width: 2em;border-radius: 1em;"/>
            </div>
            <div class="bd flex-grow">
                <div class="flex flex-ac">
                    <span class="name flex-grow" v-text="row.emp"></span>
                    <a v-if="can_reply" class="edit-btn"  :href="get_edit_link(row.pk)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
                <p v-html="txt_to_html(row.content)"></p>
                <div class="rep" v-if="row.rep_content">
                    <div class="reply name">管理员答复:</div>
                    <p class="content" v-html="txt_to_html(row.rep_content)"></p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}







