<!doctype html>
{% load static %}
{% load jsonify %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>work insight</title>

    <script type="application/javascript">
        lib={
            font_awesome:"{% static 'css/lib/font-awesome4.7.min.css' %}",
        }
    </script>


    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/vue/2.1.6/vue.js"></script>-->
    <!--<script src="{% static 'js/lib/vue.min.js' %}"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.3.2/vue.js"></script>
    <!--<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>-->
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">

    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/lib/font-awesome4.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lib/weui.min.css' %}">
    <!--<link href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">-->
    <script src="{% static 'js/exfun.js' %}"></script>
    <script src="{% static 'js/weui.min.js' %}"></script>
    <script src="{% static 'js/uis_mb.pack.js' %}"></script>
    <script src="{% static 'js/fields_mb.pack.js' %}"></script>
    <script src="{% static 'js/table_mb.pack.js' %}"></script>

    <!--<link href="https://cdn.bootcss.com/element-ui/1.2.9/theme-default/index.css" rel="stylesheet">-->
    <!--<script src="https://cdn.bootcss.com/element-ui/1.2.9/index.js"></script>-->

    <!--<script src="../build/fields.pack.js"></script>-->


    {% include 'director/reverse.html' %}

    <script type="text/javascript">
        var strategies = Vue.config.optionMergeStrategies
        strategies.myOption = strategies.methods

        menu = {{ menu | jsonify }}

        var org_height=$(window).height()
        $(function(){
            $(window).resize(function(){
                var delta = org_height - $(window).height()
                if(Math.abs(delta)  > 200){
                    $(".footer.nav").hide()
                }else{
                    $(".footer.nav").show()
                }

            })

        })

        ex.each(menu,function(act){
            if(act.url==location.pathname){
                $('title').html(act.label)
            }
        })


    </script>
</head>
<body >


<div class="weui-tab">
    <div class="weui-tab__panel content">
        {% block page_content %}

        {% endblock %}
    </div>
    {% block main_menu %}
    <div class="weui-tabbar nav footer">
        <a href="/wx/help.wx" class="weui-tabbar__item ">
            <i class="fa fa-info-circle weui-tabbar__icon" aria-hidden="true" ></i>
            <p class="weui-tabbar__label">信息</p>
        </a>
        <a href="/wx/home.wx" class="weui-tabbar__item weui-bar__item_on">
            <i class="fa fa-th weui-tabbar__icon" aria-hidden="true"></i>
            <p class="weui-tabbar__label">控制台</p>
        </a>
        <a href="/my_info" class="weui-tabbar__item">
            <i class="fa fa-user-circle weui-tabbar__icon" aria-hidden="true" ></i>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
    {% endblock %}


</div>

<style type="text/css">
    body{
        background-color: #f7f5f3;
    }
    .weui-tabbar.nav{
        position: fixed;
        bottom: 0px;
    }
    .weui-tab__panel{
        padding-bottom: 150px;
    }
    .field .error{
        color: red;
    }
    [v-cloak] {
        display: none;
    }
</style>
</body>

</html>
