.h-menu{
	margin: 30px auto;
	border-bottom: 1px solid #DADCDE;
}
.h-menu li{
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
}
.h-menu li:hover{
	cursor: pointer;
}
.h-menu .active{
	border-bottom: 5px solid #0092F2;
	color: #0092F2;
}