{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/table.pack.js" %}'></script>
<script type="text/javascript">

    bus=new Vue()
    /*	row_filters=
    //	placeholder =
    //	row_sort=
    */
    //	heads=
    //	rows=
    //	row_pages =

    //	can_add=
    //	can_del=
    //	search_args=ex.parseSearch()
    //	search字段从 search_args._q 来取值

    item_heads= heads
    dir_heads={{ dir_heads | jsonify }}

    var par_pk=ex.parseSearch().par
    var par ={pk:par_pk}

    ln.history_handle({
        init:{par:par},
        handler:function(state){
            if(state.par) {
                table.dir_data(state.par)
            }else if(state.op){
                table['_'+state.op](state.arg)  // 目前好像只有edit
            }
        }
    })

//    if(!history.state){
//        history.pushState({par:par},'title',ex.appendSearch({par:par_pk}))
//    }
//    window.addEventListener('popstate', function(e){
//        if(e.state){
//            if(e.state){
//                table.dir_data(e.state.par)
//            }
//            if(e.state.selected){
//                table.selected=e.state.selected
//            }
//            table.crt_view='main'
//        }else{
//            history.back()
//        }
//    },false)

    $(function () {
        table=new Vue({
            el:'#there',
            data:{
                parents:[],
                par:par,
                dirs:[],
                items:[],
                crt_view:'main',
                crt_name:'',
                selected:[],
                cut_list:[],

                show_menu:false,

                ln:ln,

            },
            mixins:[field_fun],
//            watch:{
//                'row_sort.sort_str':function (v) {
//                    this.search_args._sort=v
//                    this.search()
//                }
//            },
            mounted:function(){
                this.dir_data(this.par)
                this.kw={heads:[],row:{}}

            },
            computed:{
                par_pk:function(){
                    if(this.par){return this.par.pk}
                    else{return null}
                },
                can_cut:function(){
                    if(this.selected.length>0 ){
                        return true
                    }
                },
                can_paste:function(){
                    return this.cut_list.length>0
                },
                can_edit:function(){
                    return this.selected.length==1
                }

            },
//            watch:{
//                par:function(v){
//                    this.dir_data(par)
//                }
//            },
            methods:{
                after_sub:function(){
                    history.back()
                },
                set_par:function(par){
//                    history.pushState({par:par},'',ex.appendSearch({par:par.pk}))
                    ln.pushState({par:par})
//                    this.dir_data(par)
                },
                cut:function(){
                    this.cut_list=this.selected.slice()
                },
                paste:function(){
                    var self=this
                    var post_data=[{fun:'items_paste',rows:this.cut_list,par:this.par_pk}]
                    self.cut_list=[]
                    ex.post(ajax_url,JSON.stringify(post_data),function(resp){
                        self.dir_data(self.par)
                    })
                },
                get_dir_pk:function(dir){
                    if(dir){return dir.pk}
                    else{return null}
                },
                dir_data:function(par){
                    var self=this
                    this.crt_view='main'
                    this.par=par
                    if(par && par.pk){
                        this.kw.heads=dir_heads
                        this.kw.row=par
                    }else{
                        this.kw.heads=[]
                    }
                    this.selected=[]

                    var url=ajax_url+ex.template('?_op=dir_data:par:{par}',{par:this.get_dir_pk(par)})
                    ex.get(url,function(resp){
                        self.dirs=resp.dir_data.dirs
                        self.items=resp.dir_data.items
                        self.parents=resp.dir_data.parents
                        var par = self.parents.pop()
                        if(par){
                            self.par=par
                        }
                    })
                },
                dir_create:function(){
                    var self=this
                    show_upload()
                    var url=ajax_url+ex.template('?_op=dir_create:par:{par}',{par:this.par_pk})
                    ex.get(url,function(resp){
                        self.dirs.push(resp.dir_create)
                        hide_upload(200)

                        self.edit(resp.dir_create)
                    })
                },
                item_create:function(){
                    var self=this
                    var url=ajax_url+ex.template('?_op=item_create:par:{par}',{par:this.par_pk})
                    ex.get(url,function(resp){
                        self.items.push(resp.item_create)

                        self.edit(resp.item_create)
                    })

                },
                item_del:function(){
                    var self=this
                    show_upload()
                    var obj={}
                    ex.each(this.selected,function(item){
                        if(!obj[item._class]){
                            obj[item._class]=item.pk
                        }else{
                            obj[item._class]+=':'+item.pk
                        }
                    })
                    var del_str=''
                    for(var k in obj){
                        del_str +=k+':'+obj[k]+','
                    }
                    location=engine_url+'/del_rows?rows='+del_str

                },
                item_save:function(){
                    var self=this
                    show_upload()
                    var post_data=[{fun:'save',row:this.kw.row}]
                    ex.post('',JSON.stringify(post_data),function(resp){
                        if(resp.save.errors){
                            self.kw.errors=resp.save.errors
                        }else{
                            self.kw.errors={}
                            self.crt_view='main'
                            history.back()
                            self.selected=[]
                        }
                        hide_upload(200)

                    })
                },
//                swith_item:function(item){
//                    Vue.set(this.kw,'heads',item_heads)
//                    Vue.set(this.kw,'row',item)
//                },
                edit:function(item){
                    ln.pushState({op:'edit',arg:item})
                },
                _edit:function(item){
                    this.crt_view='editor'
                    if(ex.isin(item,this.items)){
                        this.kw.heads=item_heads
                    }else{
                        this.kw.heads=dir_heads
                    }
                    this.kw.row=item
                }

            },

        })
    })

</script>
<div id='there'>
    <!--<path-nav :menu='menu' ></path-nav>-->
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">


    </div>

    <div class="flex" v-show="crt_view=='main'">
        <div style="width: 100vw; ">

            <div class="flex">
                <ol class="breadcrumb flex-grow" style="font-size: 1.5em;margin-bottom: 5px;">
                    <li ><a  @click="set_par({pk:null})">root</a></li>
                    <li v-for="dir in parents" ><a  v-text="dir.name" @click="set_par(dir)" ></a></li>
                    <li v-if="par"><a  v-text="par.name" class="active"></a></li>
                </ol>
                <div style="text-align: right;padding: 0.5em 1em;">
                    <i class="fa fa-align-justify fa-2x" aria-hidden="true" @click="show_menu=true"></i>
                </div>
            </div>



            <div class="weui-cells" style="margin-top: 0" >
                <div class="weui-cell weui-cell_access" v-for="dir in dirs" >
                    <div class="weui-cell__hd" style="padding-right: 20px">
                        <input type="checkbox" :value="dir" v-model="selected" />
                        <i class="fa fa-folder fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="weui-cell__bd" @click="set_par(dir)">
                        <span v-text="dir.name" ></span>
                        <div class="weui-cell__ft"></div>
                    </div>
                </div>

                <div class="weui-cell" v-for="item in items" >
                    <div class="weui-cell__hd" style="padding-right: 20px">
                        <input type="checkbox" :value="item" v-model="selected" />
                        <i class="fa fa-file-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="weui-cell__bd" @click="edit(item)">
                        <span v-text="item.name"> </span>
                        <div class="weui-cell__ft"></div>
                    </div>
                </div>
            </div>

            <!--<div>-->
                <!--<ul>-->
                    <!--<li v-for="dir in dirs">-->
                        <!--<input type="checkbox" :value="dir" v-model="selected" />-->
                        <!--<i class="fa fa-folder" aria-hidden="true"></i>-->
                        <!--<span v-text="dir.name" class="clickable" @click="dir_data(dir)"></span>-->
                    <!--</li>-->
                    <!--<li v-for="item in items">-->
                        <!--<input type="checkbox" :value="item" v-model="selected"/>-->
                        <!--<i class="fa fa-file-o" aria-hidden="true"></i>-->
                        <!--<span v-text="item.name" class="clickable" @click="swith_item(item)"></span>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->


        </div>

        <modal v-show="show_menu" @click.native="show_menu=false">
            <div class="weui-actionsheet__menu" @click.stop="" style="width: 80vw;">
                <div class="weui-actionsheet__cell" @click="edit(selected[0]);show_menu=false" v-show="can_edit">编辑</div>

                <div class="weui-actionsheet__cell" @click="dir_create();show_menu=false">新建目录</div>
                <div class="weui-actionsheet__cell" @click="item_create();show_menu=false">新建工时</div>
                <div class="weui-actionsheet__cell" @click="item_del();show_menu=false" v-show="selected.length>0">删除选中项</div>
                <div class="weui-actionsheet__cell" @click="cut();show_menu=false" v-show="can_cut">剪切</div>
                <div class="weui-actionsheet__cell" @click="paste();show_menu=false" v-show="can_paste">粘贴</div>
            </div>
            <div class="weui-actionsheet__cell">
                <div class="weui-actionsheet__cell" @click="show_menu=false">取消</div>
            </div>
        </modal>

    </div>

    <div v-show="crt_view=='editor'">
        <div class="weui-cells__title">编辑</div>
        <div class="form-pad" >
            <field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>
        </div>
        <div style="margin-top: 20px;">
            <a href="javascript:;" class="weui-btn weui-btn_primary" style="width: 59vw;" @click="item_save()">保存修改</a>
        </div>

    </div>

    <!--<div class="weui-cells weui-cells_form"  v-if="kw.heads && kw.heads.length>0">-->
        <!--<div class="weui-panel__hd">当前项编辑</div> class="weui-panel"-->

        <!--<div class="weui-panel__bd">-->
            <!--<div class="weui-cells weui-cells_form" v-if="kw.heads && kw.heads.length>0">-->
                <!--<field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="weui-cells weui-cells_form editor" v-if="kw.heads && kw.heads.length>0">-->
        <!--<field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>-->
    <!--</div>-->


</div>


<style type="text/css" media="screen" id="test">

body{
    background-color: #faf6fa;
}
</style>


{% block extra %}
{% endblock %}
{% endblock %}