{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/table.pack.js" %}'></script>
<script type="text/javascript">

    bus=new Vue()
    //	row_filters=
    //	placeholder =
    //	row_sort=
    //	heads=
    //	rows=
    //	row_pages =

    //	can_add=
    //	can_del=
    //	search_args=ex.parseSearch()
    //	search字段从 search_args._q 来取值
    $(function () {
        table=new Vue({
            el:'#there',
            data:{
                
            },
            mixins:[table_fun],
            watch:{
                'row_sort.sort_str':function (v) {
                    this.search_args._sort=v
                    this.search()
                }
            },
            methods:{
                create_dir:function(){
                    var post_data=[{fun:'create_dir'}]
                    ex.post(ajax_url,JSON.stringify(post_data),function(resp){
                        alert(resp)
                    })
                },


            },

        })
    })

</script>
<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop"></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>



    </div>

    <div class="flex">
        <div class="index">
            <com-catalog :url=""></com-catalog>

        </div>
        <div>
            <com-table-btn v-if="!search_args._pop" :add_new="add_new" :del_item="del_item"></com-table-btn>
            <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
                       :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>



            <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>
        </div>
    </div>



</div>
<script type="application/javascript">
    Vue.component('com-catalog',{
        template:'#com-catalog',
        props:{
            /*
            * {
            * dir_data:
            * dir_new:
            * dir_edit:
            * remove
            * move
            * item_new
            * item_edit
            * }
            * */
            url:{},
            dirs:{},
            com_dir:{
                default:function(){
                    return 'com_dir'
                }
            }
        },
        data:function(){
            return {
                par:'',
                dirs:[],
                items:[],
            }
        },
        methods:{
            get_data:function(){
                var self =this
                var url=ex.appendSearch(this.url,{par:this.par})
                ex.get(url,function(resp){
                    self.dirs=resp.dirs
                    self.items=resp.items
                })
            }
        },
        component:{
            com_dir:{
                props:['dir'],
                template:'<li><input type="checkbox"/><span v-text="dir.name"></span></li>'
            }
        }

    })
</script>
<template id="com-catalog">
<div>
    <div>
        <button @click="create_root()">新建目录</button>
        <button>新建项目</button>
    </div>
    <div>
    <ul>
        <component v-for="dir in dirs" :is="com_dir" :dir="dir"></component>
    </ul>
    </div>
</div>
</template>

<style type="text/css" media="screen" id="test">
.index{
    background-color: white;
}

</style>
{% block extra %}
{% endblock %}
{% endblock %}