{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/table.pack.js" %}'></script>
<script src='{% static "js/ex_inputs.pack.js" %}'></script>

<script type="text/javascript">

    bus=new Vue()
    //	row_filters=
    //	placeholder =
    //	row_sort=
    //	heads=
    //	rows=
    //	row_pages =

    //	can_add=
    //	can_del=
    //	search_args=ex.parseSearch()
    //	search字段从 search_args._q 来取值

    item_heads= heads
    dir_heads={{ dir_heads | jsonify }}

    $(function () {
        table=new Vue({
            el:'#there',
            data:{
//                parents:[],
//                par:'',
//                dirs:[],
//                items:[],
                crt_view:'',
//                crt_name:'',
//                selected:[],
//                cut_list:[],
//                root:{pk:null,name:'root'},
                cat_state:{},
            },
            mixins:[field_fun],
//            watch:{
//                'row_sort.sort_str':function (v) {
//                    this.search_args._sort=v
//                    this.search()
//                }
//            },
//            mounted:function(){
//                this.dir_data(this.root)
//                this.kw={heads:[],row:{}}
//
//            },
            computed:{
//                par_pk:function(){
//                    if(this.par){return this.par.pk}
//                    else{return null}
//                },
//                can_cut:function(){
////                    return this.$refs.
////                    if(this.selected.length>0 ){
////                        return true
////                    }
//                },
//                can_paste:function(){
//                    return this.cut_list.length>0
//                }

            },
            methods:{
                set_state:function(state){
                    for(var k in state){
                        Vue.set(this.cat_state,k,state[k])
                    }
                },
                on_dirclick:function(dir){
                    this.kw.heads=dir_heads
                    this.kw.row=dir
                },
                on_itemclick:function(item){
                    this.kw.heads=item_heads
                    this.kw.row=item
                },


//                get_dir_pk:function(dir){
//                    if(dir){return dir.pk}
//                    else{return null}
//                },
//                dir_data:function(par){
//                    var self=this
//                    if(par.pk){
//                        this.kw.heads=dir_heads
//                        this.kw.row=par
//                    }
//                    this.selected=[]
//
//                    var url=ajax_url+ex.template('?_op=dir_data:par:{par}',{par:par.pk})
//                    ex.get(url,function(resp){
//                        self.dirs=resp.dir_data.dirs
//                        self.items=resp.dir_data.items
//                        self.parents=resp.dir_data.parents
//                        var par=self.parents.pop()
//                        if(par){
//                            self.par=par
//                        }
//
//                    })
//                },



                item_save:function(){
                    var self=this
                    show_upload()
                    var post_data=[{fun:'save',row:this.kw.row}]
                    ex.post('',JSON.stringify(post_data),function(resp){
                        if(resp.save.errors){
                            self.kw.errors=resp.save.errors
                        }else{
                            self.kw.errors={}
                        }
                        hide_upload(200)
                        self.$refs.catalog.dir_data()
                    })
                },
//                swith_item:function(item){
////                    var kw={
////                        heads:item_heads,
////                        row:item,
////                    }
////                    this.kw=kw
////                    this.kw.heads=item_heads
//                    Vue.set(this.kw,'heads',item_heads)
////                    this.kw.heads=item_heads
//                    Vue.set(this.kw,'row',item)
////                    this.kw.row=item
//                }

            },

        })
    })

</script>
<div id='there'>
    <path-nav :menu='menu' ></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <!--<com-filter class="flex" :heads="row_filters" :search="search_args"-->
                    <!--:search_tip='search_tip' @submit="search()"></com-filter>-->



    </div>

    <div class="flex">
        <div class="index-panel">

            <!--<com-dir :dirs="dirs" :items="items" :parents="parents" :par="par" :selected="selected" @dir_click="dir_data($event)" @item_click="swith_item($event)"></com-dir>-->
            <!--<ol class="breadcrumb">-->
                <!--<li ><a href="javacript:;" @click="dir_data(root)">root</a></li>-->
                <!--<li v-for="dir in parents" ><a href="javacript:;" v-text="dir.name" @click="dir_data(dir)" ></a></li>-->
                <!--<li v-if="par.pk"><a href="javacript:;" v-text="par.name" class="active"></a></li>-->
            <!--</ol>-->


            <!--<div>-->
                <!--<ul>-->
                    <!--<li v-for="dir in dirs">-->
                        <!--<input type="checkbox" :value="dir" v-model="selected"/>-->
                        <!--<i class="fa fa-folder" aria-hidden="true"></i>-->
                        <!--<span v-text="dir.name" class="clickable" @click="dir_data(dir)"></span>-->
                    <!--</li>-->
                    <!--<li v-for="item in items">-->
                        <!--<input type="checkbox" :value="item" v-model="selected"/>-->
                        <!--<i class="fa fa-file-o" aria-hidden="true"></i>-->
                        <!--<span v-text="item.name" class="clickable" @click="swith_item(item)"></span>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

            <com-catalog ref="catalog" url="/dir_mana" :root="{pk:null,name:'root'}" @dirclick="on_dirclick($event)"
                    @itemclick="on_itemclick($event)" @state="set_state($event)" :editable="true"></com-catalog>

        </div>
        <div class="flex-v">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" @click="$refs.catalog.dir_create()">新建目录</button>
                    <button type="button" class="btn btn-default" @click="$refs.catalog.item_create()">新建工时</button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" :disabled="!cat_state.has_select" @click="$refs.catalog.item_del()">删除选中项</button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" :disabled ="!cat_state.can_cut" @click="$refs.catalog.cut()">剪切</button>
                    <button type="button" class="btn btn-default" :disabled ="!cat_state.can_paste" @click="$refs.catalog.paste()">粘贴</button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" @click="item_save()">保存修改</button>
                </div>
            </div>


            <!--<com-table-btn v-if="!search_args._pop" :add_new="add_new" :del_item="del_item"></com-table-btn>-->
            <!--<com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"-->
                       <!--:row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>-->

            <div class='field-panel' v-if="kw.heads && kw.heads.length>0">
                <field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>
            </div>

            <!--<paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>-->
        </div>
    </div>


</div>


<!--<script type="application/javascript">-->
    <!--Vue.component('com-catalog',{-->
        <!--template:'#com-catalog',-->
        <!--props:['url','root','editable'],-->
        <!--data:function(){-->
          <!--return {-->
              <!--dirs:[],-->
              <!--items:[],-->
              <!--org_parents:[],-->
              <!--crt_dir:this.root,-->
              <!--selected:[],-->
              <!--cut_list:[],-->
          <!--}-->
        <!--},-->
        <!--mounted:function(){-->
          <!--this.dir_data(this.root)-->
        <!--},-->
        <!--computed:{-->
            <!--parents:function(){-->
                <!--if(!this.root.pk){-->
                    <!--return this.org_parents-->
                <!--}else{-->
                    <!--var root_obj = ex.findone(this.org_parents,{pk:root.pk})-->
                    <!--var idx= this.org_parents.indexOf(root_obj)-->
                    <!--return this.org_parents.slice(idx)-->
                <!--}-->
            <!--},-->
            <!--state:function(){-->
                <!--return {-->
                    <!--can_cut:this.can_cut,-->
                    <!--can_paste:this.can_paste,-->
                    <!--has_select:this.selected.length>0,-->
                <!--}-->
            <!--},-->
            <!--can_cut:function(){-->
                <!--if(this.selected.length>0 ){-->
                    <!--return true-->
                <!--}-->
            <!--},-->
            <!--can_paste:function(){-->
                <!--return this.cut_list.length>0-->
            <!--},-->


        <!--},-->
        <!--watch:{-->
            <!--state:function(v){-->
                <!--this.$emit('state',v)-->
            <!--}-->
        <!--},-->
        <!--methods:{-->
            <!--dir_data:function(par){-->
                <!--this.crt_dir= par || this.crt_dir-->

                <!--var self=this-->
                <!--this.selected=[]-->
                <!--var url=this.url+ex.template('?_op=dir_data:par:{par}',{par:this.crt_dir.pk})-->
                <!--ex.get(url,function(resp){-->
                    <!--self.dirs=resp.dir_data.dirs-->
                    <!--self.items=resp.dir_data.items-->
                    <!--self.org_parents=resp.dir_data.parents-->
                <!--})-->
            <!--},-->
            <!--dir_create:function(){-->
                <!--var self=this-->
                <!--show_upload()-->
                <!--var url=this.url+ex.template('?_op=dir_create:par:{par}',{par:this.crt_dir.pk})-->
                <!--ex.get(url,function(resp){-->
                    <!--self.dirs.push(resp.dir_create)-->
                    <!--hide_upload(200)-->
                <!--})-->
            <!--},-->
            <!--item_create:function(){-->
                <!--var self=this-->
                <!--var url=this.url+ex.template('?_op=item_create:par:{par}',{par:this.crt_dir.pk})-->
                <!--ex.get(url,function(resp){-->
                    <!--self.items.push(resp.item_create)-->
                <!--})-->
            <!--},-->
            <!--cut:function(){-->
                <!--this.cut_list=this.selected.slice()-->
            <!--},-->
            <!--paste:function(){-->
                <!--var self=this-->
                <!--var post_data=[{fun:'items_paste',rows:this.cut_list,par:this.crt_dir.pk}]-->
                <!--self.cut_list=[]-->
                <!--ex.post(this.url,JSON.stringify(post_data),function(resp){-->
                    <!--self.dir_data(self.crt_dir)-->
                <!--})-->
            <!--},-->
            <!--item_del:function(){-->
                <!--var self=this-->
                <!--show_upload()-->
                <!--var obj={}-->
                <!--ex.each(this.selected,function(item){-->
                    <!--if(!obj[item._class]){-->
                        <!--obj[item._class]=item.pk-->
                    <!--}else{-->
                        <!--obj[item._class]+=':'+item.pk-->
                    <!--}-->
                <!--})-->
                <!--var del_str=''-->
                <!--for(var k in obj){-->
                    <!--del_str +=k+':'+obj[k]+','-->
                <!--}-->
                <!--location=engine_url+'/del_rows?rows='+del_str+'&next='+encodeURIComponent(location.href)-->
            <!--},-->
        <!--}-->

    <!--})-->
<!--</script>-->

<!--<template id="com-catalog">-->
    <!--<div>-->
        <!--<ol class="breadcrumb">-->
            <!--<li ><a href="javacript:;" @click="dir_data(root)">root</a></li>-->
            <!--<li v-for="dir in parents" ><a href="javacript:;" v-text="dir.name" @click="dir_data(dir);$emit('dirclick',dir)" ></a></li>-->
        <!--</ol>-->


        <!--<div>-->
            <!--<ul>-->
                <!--<li v-for="dir in dirs">-->
                    <!--<input v-if="editable" type="checkbox" :value="dir" v-model="selected"/>-->
                    <!--<i class="fa fa-folder" aria-hidden="true"></i>-->
                    <!--<span v-text="dir.name" class="clickable" @click="dir_data(dir);$emit('dirclick',dir)"></span>-->
                <!--</li>-->
                <!--<li v-for="item in items">-->
                    <!--<input type="checkbox" :value="item" v-model="selected"/>-->
                    <!--<i class="fa fa-file-o" aria-hidden="true"></i>-->
                    <!--<span v-text="item.name" class="clickable" @click="$emit('itemclick',item)"></span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->


<style type="text/css" media="screen" id="test">
.index-panel{
    background-color: white;
    min-width: 300px;
}
    .clickable:hover{
        cursor: pointer;
    }

</style>


{% block extra %}
{% endblock %}
{% endblock %}